.recipeWindow {
    margin: 0 auto;
    z-index: 999;
    background-color: bisque;
    display: none;
}

#recipeList  {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 50px;
    flex-direction: column;
    
}

#recipeList li {
    display: flex;
    
    width: 400px;
    height: 300px;

}





#favoriteMenu {
    
    
}

#favoriteList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem; 
  padding: 0;
}
#favoriteList > li {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; 
  background-color: #f9f9f9;
}

#favoriteList > li img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

#favoriteList > li > #text {
    color:red;
}

#favoriteList > li button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}